/* Denna fil skall innehålla din CSS kod */
#mainwrapper {
    display: grid;
    grid-template-areas: 
    "hd hd"
    "nv nv"
    "mn mn"
    "at at"
    "sc sc"
    "ft ft"
    ;
    margin: auto;
    width: 90vw;
}

body {
    background-color: #a5b58d;
}

header, nav, main, article, section, aside, footer {
    justify-self: center;
    background-color: #f6efe8;
    margin: 5px;
    border-radius: 10px;
    border-style: solid, ;
    border-width: 5px;
    font-family:cursive;
}

header {
    display: flex;  
    grid-area: hd;
    width: 90vw;
    justify-content: space-around;
    background-color: #f6efe8;
    align-items: center;
}

header h1 {
    width:40vw;
}

#h11 {
    text-align: right;
    font-size: 3rem;
}

#h12 {
    text-align: start;
    font-size: 3rem;
}

#logga {
    height:10vh;
    justify-self: center;
}

nav {
    grid-area: nv;
    display: flex;
    width: 90vw;
    height: 5vh;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

main {
    grid-area: mn;
    background-image:url("../img/coffebeans.jpg");
    justify-self: stretch;
    align-content: center;
    min-height: 60vh;
    width: 70vw;
    justify-self: center;
    color: #f6efe8;
    text-align: center;
    font-size: 2rem;
}

article {
    grid-area: at;
    margin: 30px;
    width: 80vw;
    text-align: center;
    font-size: 2rem;
}

#scmain {
    grid-area: sc;
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

#img1, #bread, #img4, #wall {
    height: 60vh;
    width:auto;
    border-radius: 10%;
}

#img2, #beans, #img3, #kaffekoppar {
    width: 30vw;
    border-radius: 10%;
}

aside {
    grid-area: as;
    width: 20vw
}

footer {
    display: flex;
    flex-wrap: wrap;
    grid-area: ft;
    width: auto;
    height:auto;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    width: 75vw;
}

footer ul {
    background-color: #d7a679;
    color:#000000;
    width: 10vw;
    height:60vh;
    align-content: center;
    border-radius: 10px;
    padding: auto; 
    margin: 5px;
}

footer li {
    margin: 5px;
}

#karta {
    border-radius: 10px;
    height:60vh;
    margin: 5px;
}

.fthead {
    font-size: 120%;
}




#aboutus-wrapper {
    display: grid;
    grid-template-areas: 
    "hd hd"
    "nv nv"
    "asc img"
    "at at"
    "bsc bsc"
    ;
    width: 90vw;
    margin: auto;
}

#abtussc {
    grid-area: asc;
    justify-self: center;
    min-width: 35vw;
    text-align: center;
}

#abtussc p {
    width: 30vw;
    justify-self: center;
}


#bread2 {
    grid-area: img;
    width: 35vw;
    justify-self: center;
    border-radius: 10px;
    margin: 5px;
}

#personal {
    grid-area:bsc;
    width: 90vw;
    height: auto;
    display: flex;
    flex: wrap;
}

.personaltxt {
    width: 10vw;
    align-self: center;
}

.personalbild {
    width: 10vw;
    height:30vh;
}


#art1, #art2, #art3 {
    flex-direction: column;
    background-color: #d7a679;
    flex-wrap: wrap;
    height: auto;
}

#menuwrapper {
    margin: auto;
    width: 90vw;
    display: grid;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "bak dry mat"
    "key key key"
    ;
}

#bakverk, #dryck, #mat {
    display: flex;
    flex-wrap: wrap;
    width: 28vw;
    justify-content: center;
    background-color: #f6efe8;
}

#bakverk{
    grid-area: bak;
}

#dryck {
    grid-area: dry;
}

#mat {
    grid-area: mat;
}

#bakverk article, #dryck article, #mat article, #art1, #art2, #art3 {
    display: flex;
    width: 80%;
    height: 35vh;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    font-size: 1rem;
}

.menuhd {
    font-size: 2rem;
}

.menuitem {
    height: 10vw;
    width: auto;
}

.menutext {
text-align: center;
}

#dryck article h3, #bakverk article h3, #mat article h3{
    width: 100%;
    font-size: 1.2rem;
}

#bakverk article img{
    width: 40%; 
    height: auto;
}

#key {
grid-area: key;
width: 70vw;
justify-content: space-around;
align-content: center;
color:black;
text-align: center;
}

#key ul {
    height: 25vh;
    padding: 5px;
    width:30vw;
    list-style-type: none;
}

#catering {
    width: 30vw;
    height: auto;
    background-color: #d7a679;
    color: black;
    text-align: center;
    height: 25vh;
    padding: 5px;
    font-size: 1rem;
}

#gluten {
    background-color: rgb(147, 177, 233);
    color: black;
}

#laktos {
    background-color: rgb(210, 210, 132);
    color: black;
}

#vegansk {
    background-color: #97E097;;
    color: black;
}

.gluten {
    background-color: rgb(147, 177, 233);
}

.laktos {
    background-color: rgb(210, 210, 132);
}

.vegansk {
    background-color: #97E097;
}

.rest {
    background-color: #d7a679;
}